body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    width: 20%;
    margin: 0 auto;
    background-color: rgb(82, 86, 89);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
 h1 {
    text-align: center;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
 }
.input-group {
    margin-bottom: 20px;
    text-align: center;
}



#search {
    background-color:aqua;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.more-options {
    text-align: center;
    padding-top: 20px;
}